<div class="container">
    <div class="card m-5 p-5 ">
        <div class="card-title text-center">
            <h1> The three point-shooting </h1>
        </div>    
        <div class="card-body">
            <form [formGroup]="credentials" (ngSubmit)="login(credentials.value)">
                <div class="row my-3 justify-content-center">
                    <label class="mx-2" for="user">Email</label> <br>
                    <input class="mx-2 form-control" name="user" id="user" type="text" formControlName="email">
                </div>
                <div class="row my-3 justify-content-center">
                    <label class="mx-2" for="password"> Password </label> <br>
                    <input class="mx-2 form-control" name="password" id="password" type="password" formControlName="password">
                </div>
                <div class="row my-3 justify-content-center">
                    <button type="button" class="px-3 py-2 btn btn-success" type="submit"> Login </button>
                </div>
            </form>
            <div class="row my-3 justify-content-center">
                <button type="button" class="px-3 py-2 btn btn-info" (click)="loginGoogle()"> Login with Google </button>
            </div>
            <div class="row my-3 justify-content-center">
                Aren't you already register? &nbsp;
                <p class="register" (click)="goToRegister()"> Register now </p>
            </div>
        </div>
    </div>    
</div>
