<div class="container">
    <div class="card m-5 p-5 ">
        <div class="row">
            <div class="col py-2">
                <button routerLinkActive="active" routerLink="/login" type="button" class="btn btn-info"> Back </button>
            </div>
            <div class="col py-2 d-flex justify-content-end">
                <button type="button" class="btn btn-danger" (click)="logout()"> Logout </button>
            </div>
        </div>
        <div class="card-title text-center">
            <h1> Welcome! </h1>
        </div>    
        <div class="card-body">
            <div class="row card-title">
               <h2> Create new participant! </h2>
            </div>
            <div class="row">
                <div class="col">
                    <mat-vertical-stepper linear #stepper>
                        <mat-step>
                            
                        </mat-step>
                        <mat-step *ngFor="let spot of spots; index as x">
                            <ng-template matStepLabel> {{spot}} </ng-template>
                            <app-add-shot (validateForm)="informationShots($event, stepper, x)"></app-add-shot> 
                        </mat-step>
                        <mat-step>
                            
                        </mat-step>            
                    </mat-vertical-stepper>  
                    
                </div>
                <div class="col">
                    <app-participants></app-participants>
                </div>
            </div>
        </div>
    </div>    
</div>